modules = ["nodejs-20", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
SUPABASE_URL = "https://xlczafkxetyrkxkouyxt.supabase.co"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhsY3phZmt4ZXR5cmt4a291eXh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYzODIyMDksImV4cCI6MjA4MTk1ODIwOX0.-W4N5F87Twv_uP4lJ6hY8IMd-F3kDw-r2XtYlnmMdEI"
SUPABASE_SERVICE_ROLE = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhsY3phZmt4ZXR5cmt4a291eXh0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjM4MjIwOSwiZXhwIjoyMDgxOTU4MjA5fQ.a1UNtJF3LCycKpsSK3amfkjXooFnb1CPCNXKDul0FtY"
R2_ACCOUNT_ID = "ed691241a2c01f380374bfb0440237a9"
R2_ACCESS_KEY = "ac4a5baa2d8f072228bfe082b926600f"
R2_SECRET_KEY = "926d32ca52cc1ad6804b9f05e32b7b1ef6fcd147ac9c2932dd9fd3441a67145a"
R2_BUCKET = "inone"
RENDER_GIT_REPO = "https://github.com/ineone-maker/Inone"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Inone Backend"

[[workflows.workflow]]
name = "Inone Backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node api/index.js"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 3000
externalPort = 80
